.nav {
  grid-area: n;
  background-color: burlywood;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a.active {
  color: gold;
}
.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
